#user_name {
	width: 100%;
	max-width: none;
	padding: 5px;
}

.product-kho {
	position: relative;
	gap: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
}

.product-list,
.product_add {
	position: relative;
	display: grid;
	gap: 5px;
	grid-template-columns: 80% 1fr;
}

.table>:not(caption)>*>* {
	border-bottom-width: 0px;
}

.dashicons-saved {
	color: var(--color-green);
}

.z-99 {
	z-index: 9999;
}

.add-product {
	position: relative;
	display: grid;
	gap: 10px;
	grid-template-columns: 80% 1fr;
	margin-bottom: 15px;

	&__wrap {
		display: grid;
		gap: 10px;
		grid-template-columns: 80% 1fr;
		margin-bottom: 15px;
	}

	select,
	input {
		width: 100%;
		padding: 5px 10px;
		max-width: 100%;
	}
}

.crm-list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	.crm-table {
		width: 70%;
	}

	.crm-action {
		width: calc(100% - 70% - 20px);
		border: 1px solid var(--color-gray);
		padding: 5px 20px 20px;
		background-color: #fff;
		border-radius: 12px;
		margin-left: 20px;
		margin-top: 25px;
	}
}

.disabled {
	opacity: 0.5;
}

svg {
	fill: #737b83;
}

.remove-product {
	svg {
		fill: #eb4242;
	}
}

.button-view {
	svg {
		fill: none;
	}
}

select:disabled {
	color: #000 !important;
	border: 1px solid #8c8f94 !important;
}