.table-add-order {
	.clone-product:first-child .dashicons-no {
		display: none;
	}
}
.table-order {
	.modal-dialog {
		background: unset;
	}
	.modal-content {
		background-color: unset;
		border: none;
		overflow: hidden;
		border-radius: 10px;
	}
	.modal-header {
		border: none;
	}
	.modal-body {
		position: relative;
		background: #fff;
		h5::after {
			content: "";
			display: block;
			flex: 1;
			height: 1px;
			background: darkcyan;
			margin-top: auto;
			margin-left: 15px;
		}
	}
}

.detail-order {
	.add-product {
		grid-template-columns: 50% 1fr;
	}
	.add-product select,
	.add-product input {
		padding: 0 8px;
	}
	.product-number {
		text-align: right;
	}
}